<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__btn">
                    <a href="/friends"><img src="/static/img/people.png" alt="Friends" class="nav__icon"></a>
                </li>
            </ul>
        </nav>
        <div class="sidebar">
            
            <ul>
                <li><a href="/chat">Friend 1</a></li>
                <li><a href="/chat">Friend 2</a></li>
                <li><a href="/chat">Friend 3</a></li>
            </ul>
        </div>
        
        <div class="main-content">
            <h2>Chats</h2>
            <div class="preview-list">
                <div class="preview">
                    <p class="preview__nick">Friend 1</p>
                    <p class="preview__message">Chat Preview</p>
                    <p class="preview__time">2:00 PM</p>
                </div>
                <div class="preview">
                    <p class="preview__nick">Friend 2</p>
                    <p class="preview__message">Chat Preview</p>
                    <p class="preview__time">2:00 PM</p>
                </div>
                <div class="preview">
                    <p class="preview__nick">Friend 3</p>
                    <p class="preview__message">Chat Preview</p>
                    <p class="preview__time">2:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
