<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>
    
    <div class="login-container">
        <h2>Login</h2>
        <form action="/friends">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
            <p style="text-align: center;">Sign In&nbsp;  |&nbsp;  Forgot ID/PW</p>
        </form>
    </div>
</body>
</html>
